

#name_img{background-color: rgba(92, 90, 87, 0.221);
padding: 20px;}

.rounded-circle{
    height: 150px;
    position: relative;
    bottom: 100px;
    left: 200px;
    border:5px solid rgb(0, 0, 0);

}

.cse,.objective{color: blue;}

hr{width:80vw;}

.vl {
    border-left: 1px solid rgb(0, 0, 0);
    height:950px;
    position: absolute;
    left:700px;
  }

  h6{color: blue;}

  ul li{color: rgb(0, 0, 255);}

  span{color: blue;}
 